* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: cornsilk;
}

.search-section {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.main-card {
  height: 200px;
  width: 40vw;
  border: 1px solid black;
  text-align: center;
  margin: 40px auto;
}


